/* Updated color palette */
:root {
  --primary-color: #333; /* Black */
  --secondary-color: #666; /* Dark Gray */
  --accent-color: #999; /* Light Gray */
  --text-color: #FFFFFF; /* White */
  --header-color: #000; /* Black */
  --color-a: #CCCCCC; /* Light Gray */
  --color-b: #0000FF; /* Blue */
  --color-c: #FF0000; /* Red */
  --color-d: #00FF00; /* Green */
  --color-e: #FFFF00; /* Yellow */
}

html {
  font-family: nunito;
  font-size: 16px;
  background-image: './img/background.jpeg';
}

body {
  background-image: './img/background.jpeg';
  margin: 0;
  padding: 0;
  background-color: var(--accent-color);
  font-family: nunito;
  font-size: 16px;
  padding: 2rem;
}

input {
  font-family: nunito;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.5rem;
}

button {
  font-family: nunito;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  transition: background-color 0.9s ease;
  background-color: var(--secondary-color);
  margin: 1rem;
}

button:hover {
  background-color: var(--primary-color);
}

.container {
  position: relative;

}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
  padding: 20px;
  font-family: playfair display;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--white);
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.header_content {
  text-align: center;
}

.header_img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.header_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.beans {
  width: 400px;
  height: auto;
  margin-right: 20px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--color-b);

}

.beans:hover {
  color: var(--primary-color);
  cursor: zoom-in;
}

.gif {
  position: absolute;
  top: 100%; /* Below the header */
  right: 30%; /* All the way to the right */
  align-items: right;
  width: 800px;
  z-index: 0;
  width:300px;
}
